<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>


<table width="100%" height="100%" bgcolor="#F6F6F6" cellpadding="0" cellspacing="0" align="center">
    			<tr>
    				<td colspan="2" bgcolor="#FFFFFF" class="texto" style="padding:20px 40px 20px 55px; border-top: 1px #E7E7E7 solid;" align="justify">
    					<p>Hola te invitamos a provar Brainy solo da click en la liga</p>
    				</td>
 				</tr>
  		        <tr bgcolor="#FFFFFF">
        		    <td width="15%"></td>
            		<td width="550">
            		</td>
  				</tr>
				<tr>
					<td align="center" width="200px" height="auto" bgcolor="#536DFE" style="color: #FFFFFF; display: block;">
						<a href="${confirmUrl}" style="padding: 15px 20px; font-size:13px; text-decoration: none; display:inline-block; line-height:normal;">
							<span style="color: #FFFFFF">Registrate</span></a>
					</td>
  				</tr>
			</table>
</table>

</body>
</html>